body {
	margin: auto;
	font-family: 'Roboto', sans-serif;
}

/* CSS for page header */
header {
	padding-top: 10px;
	padding-bottom: 20px;
	background-color: #1F2939;
}
.header {
    margin: auto;
    height: 50px;
    width: 75%;
	display: flex;
	justify-content: space-between;
}

@media (max-width: 800px) {
	.header {
		flex-direction: column;
		align-items: center;
        height: 100px;
	}
}

.header nav {
	width: 300px;
	display: flex;
	justify-content: space-evenly;
}

.header-logo {
	margin: 0;
	display: flex;
    height: 100%;
		width: 100px;
	align-items: center;
}

@media (max-width: 800px) {
	.header-logo {
        height: 65%;
	}
}

.header-logo img {
	height: 100%;
	width: 100%;
	border-radius: 10%;
}

/* .header-logo figcaption {
	padding-left: 5px;
	font-size: 24px;
	color: #F9FAF8;
} */

.header-link {
	font-size: 18px;
	color: #E5E7EB;
	align-self: center;
}

.header-link:link {
	text-decoration: none;
}

.header-link:visited {
	text-decoration: none;
}

.header-link:hover {
	text-decoration: underline;
}

.header-link:active {
	text-decoration:none;
}

/* CSS for main part of the page */
#OwenSection {
	margin: 0 auto;
	width: 75%;
	height: 100vh;
}

details {
  margin: 1em;
}

details > summary:hover{
  background-color: rgb(189, 189, 215);
}

details > summary {
	width: 85%;
	padding: 6px;
	background-color: #ddd;
	border: none;
	box-shadow: 3px 3px 4px black;
	cursor: pointer;
}

details > p {
	border-radius: 0 10px 10px 10px;
	background-color: #ddd;
	padding: 10px;
	margin: 0;
	box-shadow: 3px 3px 4px black;
}

  details[open] > summary {
	background-color: #ccf;
}

/* CSS for page footer */
footer {
    padding-top: 10px;
    padding-bottom: 10px;
	color: #F9FAF8;
	background-color: #1F2939;
}

.footer {
    margin: auto;
    width: 75%;
    text-align: center;
}
