@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400&display=swap');

/*  CSS variables defined here and referenced using var(--varName).
    Note: name must have '--' prefix */
:root {
    --review-count: 6;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

/* CSS for page header */
header {
	padding-top: 10px;
	padding-bottom: 20px;
	background-color: #1F2939;
}
.header {
    margin: auto;
    height: 50px;
    width: 75%;
	display: flex;
	justify-content: space-between;
}

@media (max-width: 800px) {
	.header {
		flex-direction: column;
		align-items: center;
        height: 100px;
	}
}

.header nav {
	width: 300px;
	display: flex;
	justify-content: space-evenly;
}

.header-logo {
	display: flex;
    height: 100%;
	align-items: center;
}

@media (max-width: 800px) {
	.header-logo {
        height: 65%;
	}
}

.header-logo img {
	height: 100%;
	border-radius: 10%;
}

.header-logo p {
	padding-left: 5px;
	font-size: 24px;
	color: #F9FAF8;
}

.header-link {
	font-size: 18px;
	color: #E5E7EB;
	align-self: center;
}

.header-link:link {
	text-decoration: none;
}

.header-link:visited {
	text-decoration: none;
}

.header-link:hover {
	text-decoration: underline;
}

.header-link:active {
	text-decoration:none;
}

/*Css for Section 1 of the index */

.Section_1{
	background-color: #1F2939;
	padding-left: 2%;
}

h1{
	font-size: 24px;
	color: #F9FAF8;
}

.Header_body{
	display: flex;
	justify-content: space-between;
	padding-bottom: 2%;
}

.Header_title{
	font-size: 48px;
	color: #F9FAF8;
	font-weight: 800;
}

.Header_text{
	font-size: 18px;
	color: #E5E7EB;
	padding-bottom: 2%
}

.Header_btn {
	padding: .8em 2em;
	border-radius: 10px;
	border: none;
	background-color: #3882F6;
	color: whitesmoke;
	font-family: 'Lato', sans-serif;
	font-size: .8em;
}

.headerImage{
	height: 190px;
	width: 300px;
	padding-right: 10%;
}

/* Css for Section 2 of the index */
#Section2 {
	text-align: center;
	width: 75%;
	margin: auto;
}

.flex-image-container {
	display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

@media (max-width: 800px) {
  .flex-image-container {
    flex-direction: column;
  }
}

.main-image {
	min-width: 20%;
}

.main-image img {
	width: 100%;
	height: 15em;
	border: 3px blue;
	border-style: solid;
	border-radius: 10%;
}

.main-image figcaption{
	color: #5e5f61;
}

/* CSS for section 3 of index */
.section-3 {
    height: 250px;
		width: 85%;
	background-color: #E5E7EB;
    display: flex;
    justify-content: center;
		align-items: center;
		margin: auto;
}

/* Automatic slideshow */
.review-slider {
    position: relative;
    margin: auto;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

@media (max-width: 800px) {
    .review-slider {
      width: 75%;
    }
  }

.review-slider .review-container {
    position: absolute;
    width: calc(100% * var(--review-count));
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    animation: slider 26s infinite;
}

.review-slider .review-container .review {
    position: relative;
    width: calc(100% / var(--review-count));
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    float: left;
    overflow: hidden
}

.review-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.review-author {
    font-weight: bold;
    color: #1F2937;
    align-self: end;
}

.section4 {
		height: 100%;
		width: 100%;
		padding: 40px 0;
}

.section4-wrapper {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 60%;
		background-color: #3882F6;
		margin: 0 auto;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
}

.section4-cta {
	flex-basis: 50%;
	padding: 20px;
}

.section4-cta__title {
	font-size: 14px;
	color: #F9FAF8;
}

.section4-cta__subtitle {
	font-size: 10px;
	color: #F9FAF8;
	margin-top: -1rem;
}

@keyframes slider {
    0%, 25%, 100%{left: 0}

    30%, 55%{left: -100%}

    60%, 85%{left: -200%}
}

/* CSS for page footer */
footer {
    padding-top: 10px;
    padding-bottom: 10px;
	color: #F9FAF8;
	background-color: #1F2939;
}

.footer {
    margin: auto;
    width: 75%;
    text-align: center;
}
