body {
	margin: auto;
	width: 80%;
	font-family: 'Roboto', sans-serif;
}

details {
  margin: 1em;
}

details > summary:hover{
  background-color: rgb(189, 189, 215);
}
  
details > summary {
	width: 85%;
	padding: 6px;
	background-color: #ddd;
	border: none;
	box-shadow: 3px 3px 4px black;
	cursor: pointer;
}
  
details > p {
	border-radius: 0 10px 10px 10px;
	background-color: #ddd;
	padding: 10px;
	margin: 0;
	box-shadow: 3px 3px 4px black;
}
  
  details[open] > summary {
	background-color: #ccf;
}
  